
nav {
 position: fixed;
 top: 0;
 z-index: 100;
}

header p {
  font-size: 1.5rem;
  
}
@media only screen and (max-width: 420px) {
  header p {
    font-size: 1rem;
  }
}
main {
  position: relative;
  top: 3.5rem;
}
.row {
  margin-top: 2rem;
}
.container p {
  margin-top: 0;
}
#about h5,#list h5, #exhibition h5 {
  margin-bottom: 1.5rem;
  font-weight:500;
}
.names {
  font-size: 1rem;
}
#exhibition span {
  font-weight: 400;
}

#footer {
  margin-top: 60px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

